*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Noto Sans Malayalam',sans-serif;
}

body{
background:#111;
color:white;
}

header{
background:#1b1b1b;
padding:40px;
text-align:center;
}

header h1{
color:#ff9800;
font-size:40px;
}

header p{
margin-top:10px;
color:#ccc;
}

.search-box{
padding:20px;
text-align:center;
}

.search-box input{
width:90%;
max-width:600px;
padding:15px;
border:none;
border-radius:30px;
font-size:18px;
}

.categories{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
gap:20px;
padding:25px;
}

.card{
background:#222;
padding:25px;
border-radius:15px;
text-align:center;
transition:.3s;
cursor:pointer;
}

.card:hover{
background:#ff9800;
color:black;
}

.latest,
.offer{
padding:25px;
}

.story{
background:#222;
padding:20px;
margin-top:20px;
border-radius:15px;
}

button{
background:#ff9800;
color:black;
border:none;
padding:12px 25px;
border-radius:25px;
font-weight:bold;
cursor:pointer;
margin-top:15px;
}

footer{
margin-top:40px;
background:#1b1b1b;
padding:20px;
text-align:center;
}
